.log-center{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.logCont{
    width:95%;
    /* background-color: rgb(196, 196, 245); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-input{
    width: 55vw;
    max-width: 40rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(  --border);
    color: var( --text-clr);
}
input::-webkit-input-placeholder{
    color:var( --placeholder-text);
}
button{
 color: var( --text-clr);

}

.btn-border{
border: 1px solid grey;
margin-bottom: 1rem;
}
.gotologreg{
    font-size: 1.2rem;
    text-decoration: underline;
    margin-bottom: 1rem;
    color: var(--btn-normal );
    font-weight: 500;
}
/*Logout page */
.logout-cont{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var( --text-clr);
}





@media (max-width:500px){
    .log-input{
        width: 80vw;
        max-width: 40rem;
    }
}