.headercont{
    height:7.5rem;
    background-color: var( --head-clr);
    color:var( --text-clr);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    box-sizing: border-box;
    align-items: center;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
}
.navLinks-cont{
    display: flex;
}
.tog-bar{
    position: absolute;
    right: 3rem;
    font-size: 2.5rem;
    top: 2.6rem ; 
    display: none;
    font-weight: 400;
}
.theme-tog{
    display: flex;
    align-items: center;
}





@media (max-width:700px){
    .navLinks-cont{
    position: absolute;
    top: 0  ;
    left: 0;
    width: 100%;
    background-color: var( --head-clr);
    color: var( --text-clr);
    min-height: 30rem;
    height: 80vh;
    opacity: 0.98;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
} 
li{
    font-size: 2rem;
    margin: 0.9rem;
    color: var( --text-clr);
}
.tog-bar{
    display: block;
}
.action{
    display: none;
}
}